<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SysConfig</servlet-name>
        <servlet-class>org.evome.KaKsCalc.server.SysConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTService</servlet-name>
        <servlet-class>org.evome.KaKsCalc.server.GWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceAccount</servlet-name>
        <servlet-class>org.evome.KaKsCalc.server.rpc.GWTServiceAccountImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceDatabase</servlet-name>
        <servlet-class>org.evome.KaKsCalc.server.rpc.GWTServiceDatabaseImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SysConfig</servlet-name>
        <url-pattern>/org.evome.KaKsCalc.Main/sysconfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTService</servlet-name>
        <url-pattern>/org.evome.KaKsCalc.Main/gwtservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceAccount</servlet-name>
        <url-pattern>/org.evome.KaKsCalc.Main/gwtserviceaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceDatabase</servlet-name>
        <url-pattern>/org.evome.KaKsCalc.Main/gwtservicedatabase</url-pattern>
    </servlet-mapping>    

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>kakscalc.html</welcome-file>
    </welcome-file-list>
</web-app>
