/* 
    Document   : AlterWidget
    Created on : May 12, 2012, 12:06:17 PM
    Author     : wchen
    Description:
        Purpose of the stylesheet follows.
*/

.AWinfo, .AWsuccess, .AWwarning, .AWerror, .AWvalidation, .AWbusy {
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    border: 1px solid;
    border-radius: 5px !important;
    box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.91) !important;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.AWinfo, .AWsuccess, .AWwarning, .AWerror, .AWvalidation{
    padding:15px 10px 15px 50px;
}   

.AWinfo {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/Alertwidget/info.png');
}

.AWsuccess {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/Alertwidget/success.png');
}

.AWwarning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/Alertwidget/warning.png');
}
.AWerror {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/Alertwidget/error.png');
}


.AWbusy {
    color: #00529B;
    background-color: #BDE5F8;
}
