/*
 -------------- OWESOME BUTTON !!! --------------
*/
.awesomeButton{
    background-image: none !important;
    background-color: #2DAEBF !important; 
    
    
    display: inline-block;
    color: white;
    text-decoration: none;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    /*    border-bottom: 1px solid rgba(0, 0, 0, 0.25);*/
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
    position: relative;
    cursor: pointer;
    
    margin: 2px;
}

.small{
    padding: 2px 5px 2px 5px !important;
    font-size: 12px !important;
}

.large{
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}

.awesomeButtonMouseDown { 
    -webkit-transform: translateY(1px); -moz-transform: translateY(1px); 
}

/* Colors for our beloved buttons */
.awesomeButtonGreen { background-color: #91bd09 !important; }
.awesomeButtonGreenMouseOver { background-color: #749a02 !important; }
.awesomeButtonBlack { background-color: #555555 !important; }
.awesomeButtonBlackMouseOver { background-color: #424242 !important; }
.awesomeButtonBlue { background-color: #2daebf !important; }
.awesomeButtonBlueMouseOver { background-color: #007d9a !important; }
.awesomeButtonRed { background-color: #e33100 !important; }
.awesomeButtonRedMouseOver { background-color: #872300 !important; }
.awesomeButtonMagenta { background-color: #a9014b !important; }
.awesomeButtonMagentaMouseOver { background-color: #630030 !important; }
.awesomeButtonOrange { background-color: #ff5c00 !important; }
.awesomeButtonOrangeMouseOver { background-color: #d45500 !important; }
.awesomeButtonOrangyellow { background-color: #ffb515 !important; }
.awesomeButtonOrangyellowMouseOver { background-color: #fc9200 !important; }
.awesomeButtonWhite { 
    background-color: #fff  !important; 
    border: 1px solid #ccc  !important; 
    color: #666 !important; 
    font-weight: normal  !important; 
    text-shadow: 0 1px 1px rgba(255,255,255,1); 
}
.awesomeButtonWhiteMouseOver { background-color: #eee  !important; }

.awesomeButtonStrike  {background-color: #4ADFC1 !important;}
.awesomeButtonStrikeMouseOver {background-color: #39ceb0 !important;}

/* google chrome sys conf style */
.googlechromSysconf{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px 2px 2px 2px;
    
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    
    -webkit-user-select: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5) !important;
    background: -moz-linear-gradient(top, #fafafa, #f4f4f4 40%, #e5e5e5) !important;
    
    border: 1px solid #aaa !important;
    color: #444 !important;
    font-size: inherit !important;
    margin-bottom: 0px !important;
    min-width: 4em !important;
    padding: 3px 12px 3px 12px !important;
}

 .googlechromSysconfMouseOver {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9) !important;
  background: #ebebeb -moz-linear-gradient(top, #fefefe, #f8f8f8 40%, #e9e9e9) !important;
  
  border-color: #999 !important;
  color: #222 !important;
}

.googlechromSysconfMouseDown {
  -webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.4);
  
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc) !important;
  background: #ebebeb -moz-linear-gradient(top, #f4f4f4, #efefef 40%, #dcdcdc) !important;
  color: #333;
}

/*
 -------------- OWESOME BUTTON ENDS HERE !!! --------------
*/